*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    background-color: gray;
    justify-content: center;
}
.container{
    max-width: 900px;
    padding: 0 auto;  
}
.rectangle{
    max-width: 600px;
    padding: 20px;
    background-color: white;
    margin:0 auto;
    margin-top: 50px;
    box-shadow: 4px 3px 5px rgba(1, 1,1, 0.1);
    border-radius: 10px ;

}
.title_small{
    font-size: 20px;
    color: rgb(103, 7, 212);
}

.form_container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.form_control{
    display: flex;
    flex-direction: column;

}

label{
    margin-bottom: 5px;
    font-size: 15px;
}

input,select, textarea{
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
}

input:focus{
    outline-color: red;
}

.button_container{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    
}
button{
    background-color:white;
    border: transparent solid 2px;
    padding:5px 10px ;
    color: black;
    border-radius: 8px;
    transition: 0.3s ease-in;

}
button:hover{
    background-color: red;
    color: black;
    transition: 0.3s ease-out;
    cursor: pointer;
    border: red solid 1px;
}
.textarea_control{
    grid-column: 1 /span 2;
}

.textarea_control textarea{
    width: 100%;
}

@media (max-width : 460px){
    .textarea_control{
        grid-column: 1 /span 2;
    }

};

@media (max-width: 460px){
    .form_container{
        grid-template-columns: 1fr;
    }
}



